* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hdr-bkg: #3250b4;
    --hdr-txt: #ffffff;
    --bdy-bkg: #ddcbfc;
    --bdy-txt: #000000;
}

body.dark-theme {
    --hdr-txt: #000000;
    --bdy-bkg: #000000;
    --bdy-txt: #ffffff;
}

body.dark-theme header {
    background-image: url('../Images/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    height: 100vw;
    overflow-x: hidden;
    background-color: var(--bdy-bkg);
    position: relative;
}


header { 
    background-image: url('../Images/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     background-color: var(--hdr-bkg);
    color: #ffffff;
    /* text-shadow: 2px 2px #1d1d1d; */
    height: 265px;
    text-align: center;
    border-bottom: solid thin var(--hdr-txt);

}

h1 {
    margin: 0%;
    padding: 1%;
    font-size: 70px;
    text-shadow: 10px 10px 10px #000000, 3px 3px 5px black;
    color: #b329e9;
    font-family: cambria; 
}

.btn1 {
    font-size: 30px;
    text-shadow: 2px 2px 2px #000;
    color: #dbdbdb;
    margin-left: 2%;
    padding-top: 1%;
    width: 0%;
    font-family: cambria;
}

.btn1:hover {
    color: #b329e9;
}

/* Holds search history content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 2%;
    margin-right: 90%;
    margin-top: 1%;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #7e209b;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .drop-content {
    display: block;
}

.a-hover:hover {
    cursor: pointer;
    font-weight: bold;
}

main {
    width: 100vw;
    height: 100vh;
}

.row {
    height: 100%;
}

.poster{
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #000000;
    transition: transform .2s ease-in-out;
    position: relative;
    margin: 10px;
}
.poster:hover{
    transform: scale(1.01);
    -webkit-box-shadow: 0px 3px 10px 0px #b8dfffb0; 
    box-shadow: 0px 3px 10px 0px #b8dfffb0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: center;
   }

.movies{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bdy-bkg);
}
#btn-close {
text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
}
/* Search Bar*/
#search {
  border-width: 3px;
  border-color: #000000;
  border-radius: 25px;
  width: 60%;
  height: 20%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#submit {
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 15px;
}
#toggler {
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 15px;
}

/* video modal */
.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height:100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.modal-contents{
    width: 1000px;
    height: 690px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5% auto;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(184, 223, 255, 0.69); 
    box-shadow: 0px 3px 10px 0px rgba(184, 223, 255, 0.69);
}
.image{
    width: 350px;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    margin-right: 1rem;
    flex: 45%;
}
.modal-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    flex: 55%;
}
.hide{
    display: none;
}
.video{
    width: 100%;
}

iframe{
    width: 100%;
    border-radius: 10px;
}
.movie-overview{
    padding-bottom: 1rem;
}
.movie-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.imdb{
    float: right;
}
.imdb a{
    font-size: 1rem;
}

/* media queries */

@media screen and (max-width: 1000px){
    header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px;
    }
    .Cambria{
        width: 100%;
        height: auto;
    }
    .btn1{
     
        justify-content: center;
        
    }
    .modal-form{
        width: 90%; 
    }
    .modal div .close-modal{
        margin-right: 30px;
    }
}
@media screen and (max-width: 990px){
    .modal-container{
        height: 100vh;
    }
    .modal-contents{
      width: 800px;
      height: auto;
      flex-direction: column;
      margin-top: 20%;
    }
    .image{
       display: none;
    } 
}
