* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vw;
}

header {
    background-color: #727272;
    color: #ffffff;
    text-shadow: 2px 2px #1d1d1d;
    height: 8%;
    text-align: center;
}

h1 {
    margin: 0%;
    padding: 1%;
}

main {
    height: 100%;
  
}

.row {
    height: 100%;
}

.left {
    background-color: #bdbcbc;
    height: 100%;
}

.right {
    background-color: #eeeded;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poster {
    width: 275px;
    height: 275px;
    padding: 10px;
    border-radius: 10px;
    transition: transform .2s ease-in-out;
    position: relative;
}

.poster:hover {
    transform: scale(1.03);
    -webkit-box-shadow: 0px 3px 10px 0px #b8dfffb0; 
    box-shadow: 0px 3px 10px 0px #b8dfffb0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: center;
    border-radius: 10px;
}