* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

header {
    background-color: #727272;
    color: #ffffff;
    text-shadow: 2px 2px rgb(29, 29, 29);
    height: 15%;
    text-align: center;
}

header h1 {
    padding-top: 1%;
}

main {
    height: 100%;
}

.row {
    height: 100%;
}

.left {
    background-color: #bdbcbc;
    height: 100%;
}

.right {
    background-color: #eeeded;
    height: 100%;
}